
#cabecalho {
	width: 100%;
	height: 80px;
	border-top: 0px;
	background-color: #FFFFFF;
	border-radius: 5px;
	text-align: center;
	filter:opacity(alpha=25);
    -moz-opacity:0.25;
    opacity:0.25;
}

#banner {
	background-image: url('../img/logotipo.png');
	background-repeat: no-repeat;
	width: 150px;
	height: 56px;
	margin-left: 20px;
	position: absolute;
	top: 15px;
}

#login {
	width: 30%;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	color: #367889;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

/** Estilo geral **/
body {
	background: url(../img/img.png);
	color: #fff;
	margin: 0;
}

/** Formulários **/
form {
	clear: both;
	padding: 0;
	width: 95%;
}
form div {
	clear: both;
	margin-bottom: 1em;
	padding: .5em;
	vertical-align: text-top;
}
form .input {
	color: #444;
}
form .required {
	font-weight: bold;
}
form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
label.required:after {
	color: #e32;
	content: '*';
	display:inline;
}

label {
	display: block;
	font-size: 110%;
	margin-bottom:3px;
	color: #003d4c;
	font-weight: bold;
}
input, textarea {
	clear: both;
	width: 100%;
	-webkit-border-radius: 2px;
	border: 1px solid #003d4c;
}

input[type=submit] {
	cursor: pointer;
	display: inline-block;
	font-size: 110%;
	width: auto;
	background-color: #e6e6e6;
	background-repeat: no-repeat;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
	background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	padding: 5px 14px 6px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	color: #333;
	line-height: normal;
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-transition: 0.1s linear all;
	-moz-transition: 0.1s linear all;
	transition: 0.1s linear all;
}
input[type=submit]:hover {
	background-position: 0 -15px;
	color: #333;
	text-decoration: none;
}
input[type=submit]:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
input[type=submit][disabled] {
  cursor: default;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/** Notificações e Erros **/
div.message {
	clear: both;
	color: #fff;
	font-weight: bold;
	margin: 0 0 1em 0;
	border: #AA2901 1px solid;
	background: #c73e14;
	padding: 3px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
div.error-message {
	clear: both;
	color: #fff;
	font-weight: bold;
	background: #c73e14;
}
p.error {
	background-color: #e32;
	color: #fff;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	color: #000;
	font-weight: normal;
	line-height: 140%;
}
.notice {
	background: #ffcc00;
	color: #000;
	display: block;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
	border-radius: 5px;
}
.success {
	background: green;
	color: #fff;
	border-radius: 5px;
}
